<html>
<META></META>
<HEADER></HEADER>
<body>
  <h1><center>Welcome to <b><font color='red'>Erotic Hypnotic</b></font></h1><p>

  <center><h3>This site supports <a href="https://fetlife.com">Fetlife.com</a></h3>

  <h3>For Appointments in Erotic Hypnosis call: 770-880-0959 <p>

<p>  or email <a href=mailto:"bill@erotichypnotic.com">bill@erotichypnotic.com</a>

  <p>or send a message through our page on Fetlife.com <b><a href="https://fetlife.com/groups/156560">Erotica Hipnotica</a></b>

  <p>For Rigging (Rope) sessions also call:  770-880-0959</h3>

<p><h4>Board Certified Clinical Hypnotherapist,<br>
  Certified Master Practitioner Neuro-Linguistic Programming,<br>
  Forensic Hypnosis</h4></center>

<center>More to come - now under construction!</center>


</body>
